body{
    display: flex;
    justify-content: center;
}

div.container{
    display: flex;
    height: 100vh;
    grid-gap: 12px;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 54, 78);
    user-select: none;
    border-radius: 5px;
    width: 100vw;
}
div.items{
    height: 50px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    font-family: consolas;
    border-radius: 5px;
    background-color: rgb(117, 216, 255);
    transition: all 0.2s ease;
}
div.items:hover{
    box-shadow: 0px 0px 50px rgb(36, 240, 255);
    transition: all 0.2s ease;
}
div.items:active{
    border: 1px solid black;
}
div.items a{
    display: flex;
    text-decoration: none;
    color: rgb(29, 54, 78);
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 400px) {
    .container{
        display: flex;
        flex-direction: column;
    }
}