body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 35, 73);
}
h1{
    position: absolute;
    top: 5%;
    font-family: cursive;
    text-align: center;
    color: white;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 35, 73);
}
.container{
    display: grid;
    height: 80vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 12px;
    padding: 50px;
    background-color: rgb(17, 35, 73);
    user-select: none;
    border-radius: 5px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: consolas;
    border-radius: 5px;
    color: rgb(17, 35, 73);
    background-color: rgb(117, 216, 255);
    transition: all 0.2s ease;
    outline: none;
    border: none;
}
.box:active{
    border: 1px solid black;
    box-shadow: 0px 0px 50px rgb(36, 240, 255);
    transition: all 0.2s ease;
}
.winner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    height: 70%;
    width: 100%;
    transition: font 0.2s ease;
    background-color: rgb(17, 35, 73);
    color: white;
    font-family: cursive;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}
#playagainbtn{
    background-color: rgb(99, 248, 99);
    border: none;
    outline: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
    transition: visibility 1s ease-out;
}
.highlight{
    background-color: rgb(0, 89, 255);
    box-shadow: 0px 0px 50px rgb(0, 89, 255);
    transition: background 0.5s ease-out;
}

.highlightAll{
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 50px rgb(255, 0, 0);
    transition: background 0.5s ease-out;
}
@media only screen and (min-width: 600px) {
    .box:hover{
        box-shadow: 0px 0px 50px rgb(36, 240, 255);
        transition: all 0.2s ease;
    }
}