body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 54, 78);
}
.container{
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 12px;
    padding: 50px;
    background-color: rgb(29, 54, 78);
    user-select: none;
    border-radius: 5px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: consolas;
    border-radius: 5px;
    color: rgb(29, 54, 78);
    background-color: rgb(117, 216, 255);
    transition: all 0.2s ease;
    outline: none;
    border: none;
}
.box:hover{
    box-shadow: 0px 0px 50px rgb(36, 240, 255);
    transition: all 0.2s ease;
}
.box:active{
    border: 1px solid black;
    box-shadow: 0px 0px 50px rgb(36, 240, 255);
    transition: all 0.2s ease;
}
.winner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    height: 350px;
    transition: background 0.5s ease-out;
    transition: font 0.2s ease;
    background-color: rgb(29, 54, 78);
    color: white;
    font-family: cursive;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}
#playagainbtn{
    background-color: rgb(99, 248, 99);
    border: none;
    outline: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
    transition: visibility 1s ease-out;
}